li{
  list-style: none;
}
.bordered{
  display: flex;
  position: relative;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.bordered .img-wrap{
  flex: 0 0 30%;
  margin-right: 10px;
}
.bordered .img-wrap img{
  width: 100%;
}
.bordered > ul {
  flex: 1 1 auto;
  padding: 0;
}
.bordered > ul > li {
  display: flex;
  width: 100%;
}
.bordered > ul > li > img{
  height: 100px;
}
.bordered > ul > li > span{
  flex: 1 1 auto;
  vertical-align: middle;
}
.bordered .tag {
  position: absolute;
  display: inline-block;
  padding: 3px;
  right: 0;
  bottom: 10px;
  font-size: .8rem;
  border-radius: 5px;
}
.tag.jquery{
  color: rgba(255,0,125,.5);
  border: 1px solid #ccc;
}
.tag.fetch{
  color: rgba(0,125,255,.5);
  border: 1px solid #ccc;
}
.people-list > li{
  margin: 10px 0;
  vertical-align: middle;
}
.people-list > li .label{
  flex: 0 0 100px;
  width: 100px;
  font-size: .8rem;
  color: #999;
}
.btn-wrap{
  text-align: center;
}
